body {
    background: rgb(255, 188, 4);
    overflow-x: hidden;
}
#canvas{
    position: fixed;
    z-index: -1;
    margin: -10px;
    width: 210vw;
    height: 210vh;
    padding: 0%;
}
header{
    position: sticky;
    padding: 0px;
    background: black;
    margin: -10px;
    color: white;
    left: 0;
    right: 0;
    margin-bottom: 50px;
}
header img{
    width: 100vw;
    max-width: 600px;
    margin: 0;
}
.Section1{
    display: flex;
    flex-wrap: wrap;
}
.Card{
    color: rgb(255, 255, 255);
    padding: 15px 5px;
    background-color: #2195f3de;
    width: 85vw;
    max-width: 300px;
    text-align: center;
    margin: auto;
    font-family: Consolas, monospace;
    border-radius: 8px;
    border: rgb(255, 255, 255) 0.5px solid;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.767);
}
.Card div{
    margin: auto auto 15px;
    background:black;
    padding: 8px 10px;
    width: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.767);
}
.Card div:hover{
    background: white;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.767);
}
.Card a{
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.Card a:hover{
    color: black;
}
footer{
    font-weight: bold;
    margin-top: 40px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
footer h6{
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    margin: auto;
    padding: 5px;
    text-shadow: 2px 2px 50px white;
    font-size: 12px;
    border-radius: 20px;
}
footer a{
    text-decoration: underline;
    color: black;
}